@charset "UTF-8";

/*로그인 전체를 감싸는 div*/
.css-1bb6q2p {
    min-width: 1050px;
    margin-top: 90px;
    margin-bottom: 60px;
    background-color: #fff;
}

/*로그인을 감싸는 div태그*/
.css-a7gihu {
    font-weight: 800;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}

/*form태그를 감싸는 div태그*/
.css-1axolzg {
    width: 340px;
    margin: 0 auto;
    letter-spacing: -0.6px;
}
/*아이디 비밀번호 입력부분*/
.css-46b038 {
    margin-top: 30px;
}

/*아이디 입력 감싸는 div태그*/
.css-1accgqb:first-of-type {
    margin-bottom: 5px;
}
/*아이디 입력 감싸는 div태그*/
.css-1accgqb {
    padding-bottom: 12px;
}

/*아이디 입력 부분*/
.css-176lya2 {
    position: relative;
    height: 48px;
}

/*아이디 입력 input태그*/
.css-1accgqb input {
    height: 54px;
    font-size: 14px;
}

/*아이디 입력 input태그*/
.css-u52dqk {
    width: 100%;
    padding: 0 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    outline: none;
    box-sizing: border-box;
}
/*아이디 비밀번호 찾기 div블럭 부분*/
.css-1vjdduq {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-top: 10px;
    font-size: 13px;
}
/*아이디찾기 부분 div태그*/
.css-i4t6me findid-button {
    color: #333;
    cursor: pointer;
}
.css-i4t6me findfw-button {
    color: #333;
    cursor: pointer;
}

/*아이디, 비밀번호 찾기 부분 | div태그 */
.css-1cgn39v {
    width: 1px;
    height: 10px;
    margin: 3px 6px 0;
    background-color: #333;
}
/*로그인 버튼부분을 감싸는 div태그*/
.css-s4i9n2 {
    margin-top: 28px;
}
/*로그인 버튼*/
.css-qaxuc4 {
    display: block;
    padding: 0 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 54px;
    border-radius: 3px;
    color: #fff;
    background-color: #ff4f32;
    border: 0 none;
}
/*로그인 버튼안의 글자부분*/
.css-ymwvow {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}

/*회원가입 버튼부분*/
.css-s4i9n2 button:last-of-type {
    margin-top: 10px;
}
/*회원가입 버튼*/
.css-hxorrg {
    display: block;
    padding: 0 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 54px;
    border-radius: 3px;
    color: #ff4f32;
    background-color: #fff;
    border: 1px solid #ff4f32;
}



#modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 99;
    display: none;
}
.banner-online {
    height: 200px;
    box-shadow: 3px 3px 7px 1px grey;
    z-index: 9999;
    left: 50%;
    margin-left: -180px;
    margin-top: 19%;
    position: absolute;
    box-sizing: border-box;
    width: 32em;
    border: none;
    background: #fff;
    font-family: inherit;
    font-size: 1rem;
    text-align: center;
    max-width: 360px;
    border-radius: 12px;
    padding: 0;
}


.modal-content {
    font-size: 16px;
    height: 140px;
    color: rgb(51, 51, 51);
    line-height: 25px;
    margin-top: 0px;
    white-space: pre-line;
    padding-top: 50px;
    padding-left: 24px;
    padding-right: 24px;
    font-weight: 500;
}

.close-button {
    width: auto;
    height: 40px;
    border-top: 1px solid rgb(211,211,211);
    padding: 0px 18px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(95, 0, 128);
    background: transparent;
    padding-top: 18px;
}

.modal-Disabled {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 99;
    display: none;
}