@charset "UTF-8";
.css-1qho7a0 {
    min-width: 1050px;
    margin-top: 180px;
    margin-bottom: 100px;
}

.css-eqy22p {
    width: 1050px;
    margin: 0px auto;
    padding: 50px 0px;
    text-align: center;
    background-color: rgb(251, 248, 252);
    border-top: 2px solid rgb(76, 76, 76);
    border-bottom: 1px solid rgb(76, 76, 76);
}

.css-b6e74t {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
}

.css-1921apv {
    width: 600px;
    margin: 0px auto;
    border-top: 2px solid #ff4f32;
    color: rgb(76, 76, 76);
}

.css-1dv7ss8 {
    width: 100%;
    display: flex;
    text-align: left;
    border-bottom: 1px solid #ff4f32;
}

.css-1idmn86 {
    width: 130px;
    padding: 20px 0px 20px 20px;
    font-weight: 600;
}

.css-r52l1l {
    padding: 20px 0px;
    font-size: 13px;
}
.css-1crdca1 {
    display: flex;
    padding: 30px 10px 0px;
}
.css-1crdca1 > button {
    margin: 0px 3px;
}

.css-7os9p2 {
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 46px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: #ff4f32;
    border: 0px none;
}
.css-1crdca1 > button > span {
    font-size: 13px;
}
.css-ymwvow {
    display: inline-block;
    font-weight: 500;
}