@charset "UTF-8";

/* Title : h3 */
.css-i804ml {
    margin-top: 50px;
    font-weight: 500;
    font-size: 28px;
    color: rgb(51, 51, 51);
    line-height: 35px;
    letter-spacing: -1px;
    text-align: center;
}

/* Contents */
.css-pzlq5x {
    position: relative;
    display: flex;
    width: 1050px;
    margin-top: 50px;
    margin-bottom: 75px;
}

/* Filter */
.css-1jgnig9 {
	display: inline-block;
    width: 249px;
    vertical-align:center;
}

.css-11y1fso {
	display: flex;
    justify-content: space-between;
}

.css-wy76no {
	display: inline-block;
    font-weight: 500;
    font-size: 15px;
    color: rgb(51, 51, 51);
    line-height: 21px;
}

.ev2ab494 ul {
	display: inline-block;
	padding : 0;
	margin : 0;
	vertical-align: middle;
}

.ev2ab494 ul li {
	display: inline-block;
	float : left ;
}

.ev2ab494 ul li:nth-of-type(1) {
	margin-right : 16px;
	
}

/* .ev2ab494 ul::after {
	display: block;
	content :'';
	clear : both;
} */



/* a 태그 박스 */
.css-11y1fso .css-s5xdrg {
	display: inline-block;
    -webkit-box-align: center;
    align-items: center;
    line-height: 16px;
}

.css-17kh8wb {
	display: inline-block;
    -webkit-box-align: center;
    align-items: center;
}

.css-1buhy1h {
	display: inline-block;
    margin-right: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgb(51, 51, 51);
    overflow: hidden;
    word-break: break-all;
    white-space: normal;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.css-1buhy1h:hover {
    color: #ff4f32;
}

.css-ryw54y {
	display: inline-block;
    flex-shrink: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgb(204, 204, 204);
}

	/* svg */
.btn-on {
	display: none;
}

.css-17kh8wb.filter-on .btn-off {
	display: none;
}

.css-17kh8wb.filter-on .btn-on {
	display: block;
}
	



/* 초기화 버튼 */
.css-7pv5zq {
	display: inline-block;
    pointer-events: none;
}


.css-w7g3fo {
    margin-left: 5px;
    font-weight: 500;
    color: rgb(221, 221, 221);
}

	/* 초기화 버튼 on */
	.css-1kwyt96 {
	    margin-left: 5px;
	    font-weight: 500;
	    color: rgb(102, 102, 102);
	}



/* 제품 개수/필터 선택 */

.wrap-filter {
	display: inline-block;
	width : 781px;
	margin-left : 16px;
}

.css-1d3w5wq {
    width: 100%;
}

.css-1stur9s.all-filter {
    justify-content: flex-end;
}

.css-1stur9s {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-bottom: 20px;
    line-height: 20px;
}


	/* 요소 */
.css-crqql1 {
    font-size: 14px;
    font-weight: 500;
    color: rgb(51, 51, 51);
}

.css-1vmfy7j {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.css-5uzvtq {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-left: 8px;
    font-size: 14px;
    color: rgb(153, 153, 153);
}

.css-126imjl {
    letter-spacing: -0.3px;
    font-weight: 500;
    color: rgb(51, 51, 51);
    cursor: default;
}

.css-f49ql3 {
    height: 20px;
    margin-left: 5px;
}

.css-5uzvtq::before {
    content: "";
    display: flex;
    width: 1px;
    height: 10px;
    margin-right: 8px;
    background-color: rgb(226, 226, 226);
}

.css-5uzvtq.firstLi::before {
	display:none;
}




/* product list */

.css-11kh0cw {
    display: grid;
    grid-template-columns: repeat(auto-fill, 249px);
    gap: 31px 18px;
    width: 100%;
}

.css-1xyd46f {
    display: flex;
    flex-direction: column;
    height: 538px;
    color: rgb(51, 51, 51);
    cursor: pointer;
}


/* 이미지 섹션 */
.css-1kth2sq {
    overflow: hidden;
    position: relative;
    background-color: rgb(245, 245, 245);
    width: 249px;
    height: 320px;
}

.css-1kth2sq::before {
    content: "";
    position: absolute;
    inset: 0px;
}

.css-1kth2sq .css-0 {
	position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
}


/* 텍스트 섹션 */
.css-c1cgl {
    padding: 14px 10px 0px 0px;
}

.css-1qd61ut {
    display: block;
    padding-bottom: 2px;
}

.css-1vdqr5b {
    font-size: 14px;
    color: rgb(153, 153, 153);
    line-height: 19px;
    letter-spacing: -0.5px;
}

.css-1dry2r1 {
    max-height: 58px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: normal;
    display: -webkit-box;
    overflow: hidden;
    word-break: break-all;
    white-space: normal;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.css-1wejlc3 {
    padding-top: 4px;
    font-size: 12px;
    color: rgb(153, 153, 153);
    line-height: 18px;
    letter-spacing: normal;
    display: -webkit-box;
    overflow: hidden;
    word-break: break-all;
    white-space: normal;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.css-1t4zbyd {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
}

.css-19lkxd2 {
    color: rgb(250, 98, 47);
}

.css-1t4zbyd .discount-rate, .css-1t4zbyd .sales-price {
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
    letter-spacing: -0.5px;
}

.css-1t4zbyd .discount-rate {
    margin-right: 7px;
}

.css-18tpqqq {
    color: rgb(51, 51, 51);
    white-space: nowrap;
}

.css-1t4zbyd .dimmed-price {
    font-size: 14px;
    color: rgb(181, 181, 181);
    line-height: 20px;
    text-decoration: line-through;
    white-space: nowrap;
}



/* 페이지 컨트롤러 */
.css-rdz8z7 {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 36px;
}

.css-19yo1fh {
    background-color: rgb(247, 247, 247);
    color: rgb(95, 0, 128);
}

.css-1d20dg7 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border-top: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
    border-image: initial;
    border-left: none;
    cursor: pointer;
}

.css-1d20dg7:first-of-type {
    border-left: 1px solid rgb(221, 221, 221);
}

.css-1d20dg7:hover {
    background-color: rgb(247, 247, 247);
	
}






