<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
   <settings>
      <setting name="mapUnderscoreToCamelCase" value="true"/>
   </settings>
   
   <typeAliases>
      <typeAlias type="com.eatsTime.answerboard.domain.AnswerBoardVO" alias="answerBoardVO"/>
      <typeAlias type="com.eatsTime.answerboard.domain.AnswerBoardDTO" alias="answerBoardDTO"/>
      <typeAlias type="com.eatsTime.file.domain.FileVO" alias="fileVO"/>
      <typeAlias type="com.eatsTime.inquiryboard.domain.InquiryBoardVO" alias="inquiryBoardVO"/>
      <typeAlias type="com.eatsTime.inquiryboard.domain.InquiryBoardDTO" alias="inquiryBoardDTO"/>
      <typeAlias type="com.eatsTime.main.domain.MainDTO" alias="mainDTO"/>
      <typeAlias type="com.eatsTime.member.domain.MemberVO" alias="memberVO"/>
      <typeAlias type="com.eatsTime.notificationboard.domain.NotificationBoardVO" alias="notificationBoardVO"/>
      <typeAlias type="com.eatsTime.notificationboard.domain.NotificationBoardDTO" alias="notificationBoardDTO"/>
      <typeAlias type="com.eatsTime.product.domain.ProductVO" alias="productVO"/>
      <typeAlias type="com.eatsTime.product.domain.ProductDTO" alias="productDTO"/>
      <typeAlias type="com.eatsTime.purchase.domain.PurchaseVO" alias="purchaseVO"/>
      <typeAlias type="com.eatsTime.sale.domain.SaleVO" alias="saleVO"/>
      <!-- 4월 26일 김인진 PurchaseListDTO 추가 -->
      <typeAlias type="com.eatsTime.purchase.domain.PurchaseListDTO" alias="purchaseListDTO"/>
      <!-- 4월 29일 김인진 ProductListDTO 추가 -->
      <typeAlias type="com.eatsTime.product.domain.ProductListDTO" alias="productListDTO"/>
      <!-- 4월 29일 김인진 SaleDTO 추가 -->
      <typeAlias type="com.eatsTime.sale.domain.SaleDTO" alias="saleDTO"/>
   </typeAliases>

   <environments default="mysql">
      <environment id="mysql">
         <transactionManager type="JDBC"/>
         <dataSource type="POOLED">
            <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
            <property name="url" value="jdbc:mysql://localhost:3306/eatsTime"/>
            <property name="username" value="root"/>
            <property name="password" value="1234"/>
         </dataSource>
      </environment>
   </environments>
   
   <mappers>
      <mapper resource="com/eatsTime/mybatis/mapper/answerboardMapper.xml"/>
      <mapper resource="com/eatsTime/mybatis/mapper/fileMapper.xml"/>
      <mapper resource="com/eatsTime/mybatis/mapper/inquiryboardMapper.xml"/>
      <mapper resource="com/eatsTime/mybatis/mapper/mainMapper.xml"/>
      <mapper resource="com/eatsTime/mybatis/mapper/memberMapper.xml"/>
      <mapper resource="com/eatsTime/mybatis/mapper/notificationboardMapper.xml"/>
      <mapper resource="com/eatsTime/mybatis/mapper/productMapper.xml"/>
      <mapper resource="com/eatsTime/mybatis/mapper/purchaseMapper.xml"/>
      <mapper resource="com/eatsTime/mybatis/mapper/saleMapper.xml"/>
   </mappers>
</configuration>