<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="answerboard">
    <select id="select" resultType="inquiryBoardVO">
		select inqb_id ,product_id, member_id , inqb_title , inqb_content , inqb_date, inqb_complete 
		from tbl_inquireboard
	</select>
	
	
	
	
	
	
	
</mapper>