<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="answerboard">

<!-- 	게시글 세부사항 -->
    <select id="select" resultType="answerBoardDTO">
    select m.member_id, m.member_identification, i.inqb_id, i.inqb_title , i.inqb_content, i.inqb_date, i.inqb_complete, a.ansb_id
	from tbl_member m join tbl_inquireboard i on m.member_id=i.member_id left join tbl_answerboard a on i.inqb_id=a.inqb_id
	where i.inqb_id = #{inqbId}
	</select>
	
	<!--    게시글 전체 개수 조회 -->
	<select id="getTotal" resultType="_int">
		select count(inqb_id)
		from tbl_inquireboard
	</select>
	
	<!-- 고객 내 게시글 전체 조회 -->
	<select id="selectAll" resultType="answerBoardDTO">
		select member_id, i.inqb_id, i.inqb_title , i.inqb_content, a.ansb_id, a.ansb_title,
		a.ansb_content
		from tbl_inquireboard i left join tbl_answerboard a on i.inqb_id
		=a.inqb_id
		where member_id = #{memberId}
		order by inqb_id desc
		limit #{offset}, #{rowCount};
	</select>

<!-- 관리자 고객 전체 게시글 전체 조회 -->
	<select id="adminSelectAll" resultType="InquiryBoardDTO">
		select i.inqb_id, i.inqb_title , i.inqb_content, m.member_identification, i.inqb_complete, i.inqb_date
		from tbl_inquireboard i join tbl_member m on i.member_id =m.member_id 
		order by inqb_id desc
		limit #{offset}, #{rowCount};
	</select>
 
<!-- 	게시글 답변 유무 -->


<!-- 답변을 달았을 떄 실행 UPDATE -->
	<update id="selectyesno">
	update tbl_inquireboard
	set inqb_complete=0
	where inqb_id=#{inqbId}
	</update>

<!-- 답변을 삭제 떄 실행 UPDATE -->
	<update id="deleteanswer">
	update tbl_inquireboard
	set inqb_complete=1
	where ansb_id=#{ansbId}
	</update>


<!-- 답글 조회 -->
	<select id="selectAnswer" resultType="answerBoardDTO">
	select i.inqb_id, a.ansb_id, a.ansb_title, a.ansb_content,a.ansb_date
	from tbl_answerboard a join tbl_inquireboard i on a.inqb_id= i.inqb_id and i.inqb_id = #{inqbId}
	
	</select>
	
	
	<!--    게시글 추가 -->
   <insert id="insert">
   	insert into tbl_answerboard
   	(ansb_id, inqb_id, ansb_title, ansb_content)
   	values (#{ansbId}, #{inqbId},#{ansbTitle}, #{ansbContent})
   </insert>
      
	
	
 <!-- 	SELECT * FROM 테이블1 LEFT JOIN 테이블2 ON 조인할거 JOIN 테이블3 ON 조인할거; --> 




<!-- 	<select id="answer" resultType="answerBoardDTO"> -->
<!-- 		select i.inqb_id, inqb_title , -->
<!-- 		inqb_content, a.ansb_title, a.ansb_content,a.ansb_date, -->
<!-- 		i.inqb_complete -->
<!-- 		from tbl_inquireboard i, tbl_answerboard a -->
<!-- 		on -->
<!-- 		i.inqb_id=a.inqb_id; -->
<!-- 	</select> -->
	
	
	<!-- 전체 게시글 리스트에서 게시글 삭제 -->
	<delete id="delete">
		delete from tbl_answerboard
		where ansb_id = #{ansbId}
	</delete>
	
</mapper>