<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main">
<select id="selectAll" resultType="mainDTO">
		select s.sale_content, b.* from tbl_sale s join
		(select
		file_name,
		a.*
		from
		tbl_file f
		join (
		select
		p.*,
		member_identification,
		member_name
		from
		tbl_member m
		join tbl_product p on
		m.member_id = p.member_id) a
		on
		f.file_id = a.file_id) b on s.product_id = b.product_id
		<where>
			<choose>
				<when test="category == 'pickUp'.toString()">
					product_category = '0'
				</when>
				<when test="category == 'send'.toString()">
					product_category = '1'
				</when>
			</choose>
			
			<choose>
				<when test="keyword != null">
					and product_name like concat('%', #{keyword}, '%')
				</when>
			</choose>
		</where>

		<choose>
			<when test="sort=='recent'.toString()">
				order by product_id desc
			</when>
			<when test="sort=='lowPrice'.toString()">
				order by product_price asc
			</when>
			<when test="sort=='highPrice'.toString()">
				order by product_price desc
			</when>
		</choose>
		limit #{offset}, #{rowCount}
</select>
</mapper>