<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<select id="selectAll" parameterType="memberVO" resultType="memberVO">
		select
		member_identification,
		member_pw,
		member_name,
		member_email,
		member_phonenumber,
		member_gender,
		member_birthday
		from tbl_member
		where member_id = 1
	</select>

	<update id="update" parameterType="memberVO">
		update tbl_member
		set
		member_identification=#{memberIdentification}, member_pw=#{memberPw},
		member_name=#{memberName}, member_email=#{memberEmail},
		member_phonenumber=#{memberPhoneNumber},
		member_gender=#{memberGender}, member_birthday=#{memberBirthday}
		where
		member_Id = 1
	</update>

	<update id="delete" parameterType="_int">
		update tbl_member
		set
		member_status= 0
		where member_id = 1
	</update>
	
	
	<!-- 0426 추가 -->
	<!-- 관리자페이지 - 회원 전체 조회 -->
	<select id="selectAllMember" resultType="memberVO">
		select member_id, member_name, member_joineddate, member_status
		from tbl_member
		order by member_id desc
		limit #{offset}, #{rowCount}
	</select>
	
	<!-- 페이징처리 전체 회원 개수 조회 -->
	<select id="getTotal" resultType="_int">
		select count(member_id) from tbl_member
	</select>
	
	<!-- 회원 상태변경 -->
	<update id="updateStatus">
		update tbl_member
		set member_status = #{status}
		where member_id = #{memberId}
	</update>

</mapper>