<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="purchase">

	<!-- 구매정보 insert -->
	<insert id="insertPurchase">
		insert into tbl_purchase
		(member_id, product_id,
		pur_name, pur_phone_number, pur_address,
		pur_address_detail,
		pur_location, pur_pw, pur_total_price)
		VALUES(#{memberId},
		#{productId}, #{purName}, #{purPhoneNumber} ,
		#{purAddress},
		#{purAddressDetail}, #{purLocation}, #{purPw},
		#{purTotalPrice})
	</insert>

	<!-- 구매내역 select -->
	<select id="selectAll" resultType="purchaseListDTO">
		select p2.product_id,
		p1.product_name, p1.product_category, p2.pur_id, p2.pur_date,
		p2.pur_total_price, f.file_original_name, p1.member_id
		from tbl_product
		p1, tbl_purchase p2, tbl_file f
		where p1.product_id = p2.product_id and
		p2.product_id = f.product_id
	</select>

	<!-- 구매내역 상세 select -->
	<select id="selectDetail" resultType="purchaseListDTO">
		select p2.pur_id, p1.product_name, p2.pur_total_price, p1.product_category, f.file_original_name,
		p2.pur_date, p2.pur_name, p2.pur_phone_number, p2.pur_address,
		p2.pur_address_detail, p2.pur_location, p2.pur_pw, p2.product_id,
		p1.member_id from tbl_product p1, tbl_purchase p2, tbl_file f
		where p1.product_id = p2.product_id and p2.product_id = f.product_id and p2.pur_id = #{purId}
	</select>
</mapper>